<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head") %>
  <body>
    <main>
      <h1>Muestra Todo</h1>
      <% dataClients.forEach(cliente => { %>
      <a href="/editar/<%= cliente.id %> ">
        <h2><%= cliente.nombre %></h2>
        <h2><%= cliente.apellido %></h2>
        <h2><%= cliente.edad %></h2>

        <form action="/delete/<%= cliente.id %>?_method=DELETE" method="post">
          <button type="submit">Delete</button>
        </form>
      </a>
      <br />
      <% }) %>
    </main>
  </body>
</html>
